# Dependency declaration

# Webservice
python-dotenv
pydantic
fastapi
uvicorn
httpx

# LLM
ollama

# Database
sqlalchemy
sqlalchemy_utils
sqlalchemy[asyncio]
asyncpg


# Vector Database
chromadb

# Extras
logger

# Currently undocumented
logging
psycopg2-binary
pydantic_settings
python-multipart